<!DOCTYPE html>
<html>  
<head>
    <title>About Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">MyApp</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                </ul>

            </div>

        </div>
    </nav>
    <div class="container mt-4">
        <h3>Contact Us</h3>
        <p>If you have any questions or feedback, feel free to reach out to us!</p>
        <ul>
            <li>Email:vanngt2004@gmail.com</li>
            <li>Phone: +84 332295801</li>
            <li>Address: Hanoi, Vietnam</li>
        </ul>
    </div>  
</body>
</html>