name: Deploy Application
on:
  push:
    branches:
      - main
env: 
  IMAGE_NAME: ghcr.io/${{ github.repository }}
permissions:
  contents: read
  packages: write
jobs:
  workflow_dispatch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.MY_PATMY }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_NAME }}:latest
      - name: Deploy to GCP VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          envs: GITHUB_ACTOR, GITHUB_TOKEN, IMAGE_NAME
          script: |
            echo $GITHUB_TOKEN | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin
            
            echo "Bắt đầu deploy..."
            
            # Lấy tên image (đã được truyền qua envs, không cần tính toán lại phức tạp)
            # Hoặc dùng lại logic cũ nếu muốn chắc chắn
            IMAGE_LOWER="ghcr.io/$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')"
            docker pull $IMAGE_LOWER:latest
            docker stop my_app || true
            docker rm my_app || true
            docker run -d --name my_app -p 5000:5000 $IMAGE_LOWER:latest
